body {
    height: 100%;
    margin: 0;
}

.card1 {
    display: flex;
    flex-direction: column;
    padding: 15px 170px;
    background: #1F2937;
    color: white;
    height: 400px;
}

.card1-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1-head ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.card1-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.card1-content .left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.card1-content .left .text {
    font-size: 50px;
    font-weight: 900;
}

.card1-content .left button {
    border-radius: 10px;
    width: 100px;
    height: 35px;
    background-color: hwb(213 9% 11%);
    color: white;
    font-weight: 700;
}

.card1-content .right .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    height: 200px;
    background-color: #cecaca71;
}

/* Card 2 */

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    padding: 15px 200px;
}

.card2-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card2-items .border {
    border: 2px solid blue;
    border-radius: 10px;
    height: 170px;
    width: 170px;
    font-size: 0px;
}

.card2-items .box {
    width: 200px;
}

.card2-items .box .text {
    text-align: center;
    margin-top: 10px;
}

/* Card 3 */

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: gainsboro;
}

.card3 .quote {
    width: 700px;
}

.card3 .quote .maintext {
    font-size: 36px;
    font-style: italic;
}

.card3 .quote .footer {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
}

/* Card 4 */

.card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.card4-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hwb(213 9% 11%);
    height: 120px;
    width: 900px;
    color: white;
    border-radius: 10px;
}

.card4-container .left h2 {
    margin-bottom: 5px;
}

.card4-container .left p {
    margin-top: 5px;
}

.card4-container .right .button {
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    background-color: hwb(213 9% 11%);
    color: white;
    font-weight: 700;
}

